.navigation-panel {
    margin-bottom: 24px;
   
    background: rgb(255, 255, 255);
       padding: 9px 22px;
       display: flex;
       justify-content: space-between;
       align-items: center;
}

h6 {
    color: rgba(0, 0, 0, 0.85);

        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
        padding: 9px 22px;
}

.heading {
    text-decoration: none;
}

.navigation-buttons {
    padding: 22px;
    
}

.navigation-buttons button  {
    
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: center;
     
}

.main {
        display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(229, 229, 229)
}

.profile-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.sign-up {
    color: rgb(82, 196, 26);
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0%;
        text-align: left;
         border: 1px solid rgb(82, 196, 26);
            border-radius: 5px;
}

.login {
    color: rgba(0, 0, 0, 0.85);
    border: none;
}

.user {
    text-decoration: none;
}