.button {
    border: none;
    cursor: pointer;
background-color: #fff;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 5px;

}

.small {
    color: rgb(82, 196, 26);
     border: 1px solid rgb(82, 196, 26);
    width: 112.23px;
    height: 31.1px;
}

.big {

        color: rgba(0, 0, 0, 0.75);
        font-size: 18px;
        line-height: 28px;
        width: 109px;
        height: 51px;
        border: 1px solid rgba(0, 0, 0, 0.75);
                
}

.medium {
box-sizing: border-box;

    border: 1px solid rgb(245, 34, 45);
    border-radius: 4px;
    width: 118px;
        height: 44px;
        align-items: center;
            padding: 8px 16px 8px 16px;
}